@tailwind base;
@tailwind components;
@tailwind utilities;

.back-icon {
    --size: 30px;
    display: block;
    background-image: url('/back.png');
    background-size: 100%;
    width: var(--size);
    height: var(--size);
}

::-webkit-scrollbar {
    display: none;
}